/* main {
  color: #e8f1f2;
  color: #b3efb2;
  color: #7A9E7E;
  color: #31493c;
  color: #001a23;
  color: #222222;
} */

body {
  /* background-color: #003f54; */
  background-color: rgb(18, 36, 42);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 0;

}

main {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.beginpagina {
  background-color: #66a26d;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  padding: 50px;
}

nav li {
  text-decoration: none;
  list-style: none;
}

nav a {
  font-size: 1.5em;
  font-weight: 100;
  color: white;
  text-decoration: none;
  padding: 10px;

}

nav a:hover {
  /* color: #b3efb2; */
  color: rgb(134, 252, 141);
  transition: 0.2s ease;
}


h1 {
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  margin-top: 15%;
}


h1 span {
  /* color: #b3efb2; */
  color: rgb(134, 252, 141);
  font-weight: 700;

}

h2 {
  color: white;
  font-size: 3em;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

p {
  color: white;
  font-size: 1.2em;
  line-height: 1.3em;
}

p a {
  /* color: #b3efb2; */
  /* color: rgb(134, 252, 141); */
  color: rgb(130, 215, 251);
}

#overmij {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10%;
}

#overmij img {
  width: 40%;
  border-radius: 10px;
  height: auto;
  animation: fadeInLeft 2s ease-out;
  /* visibility: none; */
  /* animation-delay: 0.4s; */
}

#overmij section {
  width: 50%;
}

#overmij h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  animation: fadeInRight 2s ease-out;
}

#overmij p {
  animation: fadeInRight 2.5s ease-out;

}

#overmij p:last-child {
  animation: fadeInRight 3s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* -----------------------|Portfolio Pagina|--------------------- */

#mijnWerk {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mijnWerkKop {
  margin-top: 100px;
  width: 100%;
  /* color: #b3efb2; */
  color: rgb(134, 252, 141);
  text-align: center;
  font-weight: 600;
}

.blokje1,
.blokje2 {
  height: 400px;
  margin-bottom: 2.5%;
  margin-right: 10px;

}

.blokje1:hover,
.blokje2:hover {
  /* border: #b3efb28e 5px solid; */
  border: rgba(134, 252, 142, 0.826) 5px solid;
  border-radius: 10px;
  box-sizing: border-box;


}

.blokje1 {
  width: 60%;
  animation: fadeInLeft 2s ease-out;

}

.blokje2 {
  width: 30%;
  animation: fadeInRight 2s ease-out;
}


.blokje1 img,
.blokje2 img,
.blokje1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.blokje1 video {
  object-fit: cover;
}

.blokje1 a,
.blokje2 a {
  /* background-color: #001a2398; */
  background-color: rgba(18, 36, 42, 0.7);
  color: white;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .5rem;
  padding: 30px 50px;
  border: none;
}

.blokje1 a:hover,
.blokje2 a:hover {
  background-color: rgba(0, 0, 0, 0.589);
  scale: 1.2;
}


.blokje1 a {
  position: relative;
  bottom: 50%;
  left: 34%;
}


.blokje2 a {
  position: relative;
  bottom: 50%;
  left: 20%;
}

/* ----------------------------------------------Detail pagina's--------------------------------------- */

#home {
  position: absolute;
  top: 8%;
  margin-left: 40px;
}

#home p {
  text-decoration: underline;
  color: rgb(130, 215, 251);
  font-size: 1.2em;
}

#home p:hover {
  /* color: #b3efb2; */
  color: white;
  text-decoration: none;
}

#flex {
  display: flex;
  flex-wrap: wrap;
}

.groteBox {
  margin: 0 0 5% 0;
  width: 100%;
  /* background-color: #00222d; */
  background-color: rgb(29, 62, 71);
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  padding-bottom: 20px;
  border-radius: 10px;
}

.groteBox h2 {
  text-align: center;
  font-size: 4em;
  /* color: #b3efb2; */
  color: rgb(134, 252, 141);
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 20px;
}

.groteBox img,
.groteBox video {
  height: auto;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 30px;
}

.groteBox img {
  width: 50%;
  margin-left: 25%;
}

.groteBox img:hover {
  scale: 110%;
}

.kleineBox {
  position: relative;
  width: 45%;
  margin-bottom: 2.5%;
  margin-left: 3.5%;
  /* background-color: #00222d; */
  background-color: rgb(29, 62, 71);
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding-bottom: 20px;
}

.kleineBox:nth-last-of-type(3){
  margin-left: 2.5%;
}

.kleineBox:nth-last-of-type(1){
  margin-left: 2.5%;
}

.kleineBox a {
  font-size: 1.3em;
  margin-left: 5%;
  /* color: #08a3db; */
  color: rgb(130, 215, 251);
  
}

.kleineBox p {
  width: 90%;
  margin-left: 5%;
  color: #fff;
  line-height: 1.3em;
}

.kleineBox h3 {
  font-size: 1.8em;
  margin-left: 5%;
  /* color: #b3efb2; */
  color: rgb(134, 252, 141);
}

.kleineBox img {
  max-width: 250px;
  max-height: 250px;
  margin-left: 5%;
  margin-bottom: 10px;
}

#aanbevolen {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
}

.miniBox {
  width: 25%;
  /* background-color: #00222d; */
  background-color: rgb(29, 62, 71);
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.miniBox:hover {
    background-color: #00222da7;
}

.miniBox img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  padding: 30px 15px 0 15px;
  border-radius: 10px;
}

.miniBox img:hover {
  scale: 1.1;
}

h4 {
  margin-left: 15%;
  font-size: 1.5em;
  color: rgb(134, 252, 141);
}

.miniBox h5 {
  color: rgb(134, 252, 141);
}

#golden {
  color: gold;
}

.arrowD {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.arrowD span {
  display: block;
  width: 2vw;
  height: 2vw;
  /* border-bottom: 5px solid rgb(255, 255, 255); */
  /* border-right: 5px solid rgb(255, 255, 255); */
  border-bottom: 10px solid rgb(130, 215, 251);
  border-right: 10px solid rgb(130, 215, 251);
  transform: rotate(45deg);
  margin: -23px;
  animation: animate 2s infinite;
}

.arrowD span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrowD span:nth-child(3) {
  animation-delay: -0.4s;
}



/* ----------------------------------------------ARROW--------------------------------------- */
/* https://codepen.io/vlt_dev/pen/NWMNzpE */

.arrowL {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  cursor: pointer;
  z-index: -99;
}

.arrowL span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -23px;
  animation: animate 2s infinite;
}

.arrowR {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
  z-index: -99;
}

.arrowR span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -23px;
  animation: animate 2s infinite;
}

.arrowL span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrowL span:nth-child(3) {
  animation-delay: -0.4s;
}

.arrowR span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrowR span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}



/* -----------------------|https://codepen.io/alvarotrigo/pen/PoKMyWE|--------------------- */

.message {
  /* background-color: #b3efb2; */
  background-color: rgb(134, 252, 141);
  color: black;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 220px;
  animation: openclose 7s ease-in-out infinite;
}

.messageMobile {
  visibility: hidden;
}


@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }

  5% {
    width: 0;
  }

  15% {
    width: 375px;
  }

  30% {
    top: 0.2rem;
    width: 375px;
  }

  33% {
    top: 0.2rem;
    width: 0;
  }

  35% {
    top: 0.2rem;
    width: 0;
  }

  38% {
    top: -4.5rem;

  }

  48% {
    top: -4.5rem;
    width: 425px;
  }

  62% {
    top: -4.5rem;
    width: 425px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  86% {
    top: -9rem;
    width: 375px;
  }

  95% {
    top: -9rem;
    width: 375px;
  }

  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/* -----------------------|https://alvarotrigo.com/blog/animated-backgrounds-css/|--------------------- */

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus {
  outline: none;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}


/* ----------------------------------------------Social-------------------------------------- */
/* https://codepen.io/vlt_dev/pen/OJZBxBd */


footer ul {
  position: relative;
  display: flex;
  align-items: center;
}

footer ul img {
  height: 40%;
}

footer ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  margin: 0 10px 0 10px;
}

.streepje {
  width: 40px;
  height: 5px;
  /* background-color: #b3efb2; */
  background-color: rgb(134, 252, 141);
  margin: auto;
}

footer ul li span {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}

footer ul li:hover span {
  transition: .3s;
}

footer ul li:nth-child(2):hover span {
  background: rgb(125, 192, 106) !important;
}

footer ul li:nth-child(3):hover span {
  background: #FF0000 !important;
}

footer ul li:nth-child(4):hover span {
  background: #CC296C !important;
}

footer ul li:nth-child(5):hover span {
  background: rgb(55, 124, 180) !important;
}

#lowerbalk{
  position: absolute;
  background-color: black;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#lowerbalk p {
font-size: 0.8em;
width: 100vw;
text-align: center;
padding: 5px;
}


@media only screen and (max-width: 800px) {

  body {
    width: 90vw;
    margin-left: 5vw;

  }

  ul {
    width: 90%;
    padding: 50px 10px;
  }

  h1 {
    margin-top: 50px;
    font-size: 2em;
  }

  h2 {
    font-size: 2em;
  }

  nav a {
    font-size: 1.2em
  }

  .message {
    visibility: hidden;
  }

  .messageMobile {
    visibility: visible;
  }

  #mijnWerkKop {
    margin-top: 30px;
  }

  .blokje1, .blokje2 {
    margin-right: 0;
  }

  .blokje1 {
    width: 100%;
  }

  .blokje2 {
    width: 100%;
  }

  .blokje1 a,
  .blokje2 a {
    left: 5%;
    font-size: 0.7em;
  }

  .groteBox {
    width: 100%;
    margin-left: 0;
  }

  .groteBox video,
  .groteBox img {
    width: 60vw;
    margin-left: 5%;
  }

  .groteBox h2{
    font-size: 2em;
    margin-top: 55px;
  }

  #home {
    position: absolute;
    top: 1px;
    margin-left: 10px;
  }

  .arrowD {
    visibility: hidden;
  }

  .kleineBox {
    width: 100%;
    left: 0;
    margin: 0 0 2.5% 0;
  }

  h4{
    width: auto;
    margin-left: 0;
    text-align: center;
  }

  #aanbevolen{
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0%;
  }

  .miniBox {
    width: 90%;
    margin: 0 0 10px 0;
  }

  .miniBox img{
    width: 100px;
    height: 100px;
    padding: 0;
  }

  #overmij {
    flex-wrap: wrap;
  }

  #overmij img {
    width: 60%;
    border-radius: 50%;
  }

  #overmij section {
    width: 90%;
  }

  #overmij p {
    font-size: 1.1em;
  }

  footer ul {
    position: relative;
    width: 100%;
    margin-left: 0;
    transform: none;
    padding: 0;
    margin-top: 20px;
  }


  footer ul img {
    height: 20px;
  }

  footer ul li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px;
  }

}